.container {
    max-width: 80vw;
    margin: 20px auto;
    border: 1px solid #CCC;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

h1 {
    text-align: center;
}