.r-slider {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 5px 0;

    &__slides {
        position: relative;
        display: flex;
        gap: var(--gap);
        width: var(--slider-width);
        left: var(--edge-width);

        &.in-transition {
            transition: left var(--animation-duration) ease-in-out;
        }
    }

    &__slide {
        flex: 1;
        position: relative;
        transform: scale(0.9);
        transition: all var(--animation-duration) ease-in-out;

        &-caption{
            background: rgba(0, 0, 0, 0.8);
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            text-align: center;
            color: #FFF;
        }

        &.r-slider__slide--active {
            outline: 5px solid rgba(225, 202, 127, 0.9);
            transform: scale(1);
        }
    }

    &__slide-img {
        width: 100%;
    }

    &__controls {
        position: absolute;
        top: calc(50% - 25px); // 50% of the container - half height of the button
        left: 20px;
        width: calc(100% - 40px); // 100% of the container - double of the left value
        display: flex;
        justify-content: space-between;
    }

    &__prev,
    &__next {
        background: rgba(0, 0, 0, 0.4);
        border: 0;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        text-align: center;
        line-height: 50px;
        font-size: 32px;
        color: #FFF;
        cursor: pointer;
        transition: all 0.2s ease-in;

        &:hover {
            background: rgba(0, 0, 0, 0.8);
        }
    }
}